@tailwind base;
@tailwind components;
@tailwind utilities;

$swdc-path-fonts: '../node_modules/@prism/dropcloth/src/resources/fonts/';
$swdc-path-iconfont: '../node_modules/@prism/dropcloth/src/resources/iconfont/';

// Dropcloth application to use mixins, variables, and functions
@import '@prism/dropcloth/src/styles/dropcloth-application.scss';

// Base Dropcloth CSS
@import '@prism/dropcloth/dist/styles/dropcloth-toolkit.css';
@import '@prism/dropcloth/dist/styles/dropcloth-iconfont.css';

// Fonts
// @include swdc-set-fontface-dropcloth();
@include swdc-set-fontface-iconfont();

:root {
  font-family: var(--swdc-text-family-brand);
  color: var(--swdc-color-dark-foreground-on-surface);
  background-color: var(--swdc-color-surface-1);
}

p {
  color: #666;
}

a, button {
  color: #0069ae;
}

a:hover, button:hover {
  color:#336699;
}

/* InputStepper.css */

.input-no-arrows {
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

